<header></header>

<div class="wrapper col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center"><a href="#/monuments/{{monument.id}}">{{monument.name}}</a></h3>
        </div>
        <div class="central-panel">
          <div class="panel-body">
          <div class="col-md-4"></div>
          	<div class="col-md-4">
            <h4>Вкажіть автора статті/монографії</h4>
        		<input type="text" ng-model="book.author" class="form-control" placeholder="Вкажіть ім`я автора статті/монографії">
        		<br>

            <h4>Вкажіть назву статті/монографії</h4>
            <input type="text" ng-model="book.descr" class="form-control" placeholder="Вкажіть назву статті/монографії">
            <br>

					 <h4>Вкажіть рік та місце видання</h4>
					 <input type="text" class="form-control" ng-model="book.publisher">
           <br>

           <a class="btn btn-success" ng-click="update()" href><span class="glyphicon glyphicon-save"></span> Зберігти</a>
           <div class="btn btn-large btn-danger" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Відміна</div>
    		</div>

    		</div>

       </div>

     </div>

   </div>
 </div>
