<link href="/styles/table.css" rel="stylesheet" />
<link href="/styles/text-panel.css" rel="stylesheet"/>

<header></header>
<h4 style="text-align: center; margin-top: 50px;">Бібліографія</h4>
<div class="container">
<div class="wrapper col-md-12">
    <div class="btn-group" role="group" aria-label="..." ng-show="isAdmin">
      <a class="btn btn-xs btn-primary"
              href="#/monuments/{{monument.id}}/bibliography_add" ng-hide="isDeleted || isUpdated">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Додати
      </a>
      <a class="btn btn-xs btn-primary"
              href ng-click="isUpdated = !isUpdated" ng-hide="isDeleted || isUpdated">
        <span class="glyphicon glyphicon-pencil"></span>
        Редагувати
      </a>
      <a class="btn btn-xs btn-primary"
              href="#/monuments/{{monument.id}}/bibliography_update/{{updated}}" ng-show="isUpdated && updated">
        <span class="glyphicon glyphicon-pencil"></span>
        Редагувати Обране
      </a>
      <button class="btn btn-xs btn-primary"
              href="" ng-click="isUpdated = !isUpdated"ng-show="isUpdated">
        <span class="glyphicon glyphicon-remove"></span>
        Відміна
      </button>
      <a class="btn btn-xs btn-primary"
              href ng-click="isDeleted = !isDeleted" ng-hide="isUpdated || isDeleted">
        <span class="glyphicon glyphicon-trash"></span>
        Видалити
      </a>
            <a class="btn btn-xs btn-primary"
              href ng-click="delete()" ng-show="isDeleted && deleted.length !=0">
        <span class="glyphicon glyphicon-trash"></span>
        Видалити Обране
      </a>
        <button class="btn btn-xs btn-primary"
              href="" ng-click="isDeleted = !isDeleted"ng-show="isDeleted">
        <span class="glyphicon glyphicon-remove"></span>
        Відміна
      </button>
    </div>
</div>
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title" align="center">
        <a href="#/monuments/{{monument.id}}">{{monument.name}}</a>
      </h3>
    </div>
    <div align="center">

  <div class="basecon1t">

  <table class="userstop1" width="100%">
   <thead>
    <tr>
      <td ng-show="isUpdated && !isDeleted"></td>
      <td ng-show="isDeleted && !isUpdated"></td>
      <td>Автор статті/монографії</td>
      <td>Назва статті/монографії</td>
      <td>Рік та місце видання</td>
    </tr>
    </thead>
     <tbody>
      <tr ng-repeat="book in bibliography | filter: {author: main.searchName} | filter: {publisher: main.searchDate} ">
        <td ng-show="isUpdated && !isDeleted"><input type="radio" name="bookid"  ng-model="$parent.updated" ng-value="book.id"></td>
       <td ng-show="isDeleted && !isUpdated"><input type="checkbox" name="bookid" checklist-model="deleted" checklist-value="book.id"></td>
      <td>{{book.author}}</td>
      <td>{{book.descr}}</td>
      <td>{{book.publisher}}</td>
        
      </tr>
	 </tbody>
  </table>
</div>

    </div>
  </div>
</div>
