<header></header>

<link href="/styles/text-panel.css" rel="stylesheet"/>
<link href="/styles/body.css" rel="stylesheet" />

<div class="container">
  <div class="wrapper col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" align="center">
          {{monument.name}}
        </h3>
      </div>
      <div>
  <div text-angular="text-angular" name="htmlcontent" ng-model="description.descr" ta-disabled='disabled'>
  </div>
      </div>
  </div>
  <br>
   <a class="btn btn-success" ng-click="update()" href><span class="glyphicon glyphicon-save"></span> Зберігти</a>
   <span class="btn btn-danger btn-large" ng-click='cancel()'>
   <span class="glyphicon glyphicon-remove"></span> Відмінна
  </span>
</div>
</div>
