<link href="/styles/text-panel.css" rel="stylesheet"/>

<header></header>
      <h4 style="text-align: center;">Детальний опис</h4>

<div class="container">
<div class="wrapper col-md-12">
  <div class="btn-group" role="group" aria-label="..." ng-show="isAdmin">
       <a class="btn btn-xs btn-primary"
              href="#/monuments/{{monument.id}}/detailed_description_controll">
        <span class="glyphicon glyphicon-pencil"></span>
        Редагувати
      </a>
    </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" align="center">
        <a href="#/monuments/{{monument.id}}">{{monument.name}}</a>
      </h3>
    </div>
    <div class="central-panel">
      <div class="panel-body" ng-bind-html="sce.trustAsHtml(description.descr)">
      </div>
    </div>
  </div>
</div>
