<header></header>
<h4 style="text-align: center;">Геокоордината</h4>
<div class="container">
<div class="wrapper col-md-12">
    <div class="btn-group" role="group" aria-label="..." ng-show="isAdmin">
      <a class="btn btn-xs btn-primary" href="" ng-click='edit()' ng-show='!isEditing'>
        <span class="glyphicon glyphicon-pencil"></span>
        Редагувати координату
      </a>
    </div>
</div>
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title" align="center">
        <a href="#/monuments/{{monument.id}}">{{monument.name}}</a>
      </h3>
    </div>
    <div class="central-panel">
      
<div id ='googleMap' style="height:500px; width:70%;margin: 20px auto;"></div>

<div ng-show='isEditing && isAdmin' style="text-align: center;">
<div><input type="text" placeholder="Довгота" ng-model="newCoordinates.longitude">&nbsp;<input type="text" placeholder="Широта" ng-model="newCoordinates.breadth"></div>
    <h4>
        Будь ласка поставте відмітку
    </h4>
    <div class="btn btn-success btn-large" ng-click='save()'><span class="glyphicon glyphicon-save"></span> Зберегти
    </div>
    <span class="btn btn-danger btn-large" ng-click='cancel()'><span class="glyphicon glyphicon-remove"></span> Відмінна
    </span>
    <br><br>
</div>

      </div>
    </div>
</div>
</div>