<div class="navbar-fixed-top" ng-controller='HeaderCtrl'>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/main">Головна</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="#/search"> Пошук </a>
                </li>
            </ul>

            <div id="nav" ng-hide="isMain || disableMenu">
                <ul>
                    <li><a href="#/monuments/{{id}}/detailed_description"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Детальний опис</a></li>
                    <li><a href="#/monuments/{{id}}/geo_coordinate"><span class="glyphicon glyphicon-globe"></span>&nbsp;Геокоордината</a></li>
                    <li><a href><span class="glyphicon glyphicon-picture"></span>&nbsp;Галерея</a>
                        <ul>
                            <li><a href="#/monuments/{{id}}/old_photos">Старі фото</a></li>
                            <li><a href="#/monuments/{{id}}/new_photos">Нові фото</a></li>
                            <li><a href="#/monuments/{{id}}/blueprints">Креслення</a></li>
                            <li><a href="#/monuments/{{id}}/ext_decoration">Зовнішнє оздоблення</a></li>
                            <li><a href="#/monuments/{{id}}/other">Інше</a></li>
                            <li><a href>Інтер`єр<span class="glyphicon glyphicon-chevron-right"></span></a>
                                <ul>
                                    <li><a href="#/monuments/{{id}}/fresco">Фреска-живопис</a></li>
                                    <li><a href="#/monuments/{{id}}/floor_tiles">Плитка для підлоги</a></li>
                                    <li><a href="#/monuments/{{id}}/pirofillit">Пірофілліт</a></li>
                                    <li><a href="#/monuments/{{id}}/ws_details">Біло-кам`яні деталі</a></li>
                                    <li><a href="#/monuments/{{id}}/mosaic">Мозаїка</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#/monuments/{{id}}/res_history"><span class="glyphicon glyphicon-search"></span>&nbsp;Історія досліджень</a></li>
                    <li><a href="#/monuments/{{id}}/reconstruction"><span class="glyphicon glyphicon-equalizer"></span>&nbsp;Реконструкція</a></li>
                    <li><a href="#/monuments/{{id}}/bibliography"><span class="glyphicon glyphicon-book"></span>&nbsp;Бібліографія</a></li>
                </ul>
            </div>

            <form class="navbar-form navbar-left" role="search" ng-show='isCustom'>
                <span style="font-size: 20px"> Пошук по {{main.locationName}} :</span>
                <div class="form-group" ng-show='main.showName'>
                    <span>
                        Ім'я
                    </span>
                    <input type="text" ng-model='main.searchName' class="form-control" placeholder="Введіть ім'я">
                </div>
                <div class="form-group" ng-show='main.showDate'>
                    <span>
                        Дата
                    </span>
                    <input type="text" ng-model='main.searchDate' class="form-control" placeholder="Введіть дату">
                </div>
                <div class="form-group" ng-show='main.showCentury'>
                    <span>Століття</span>
                    <select class="form-control" ng-model="main.searchCentury" ng-selected="8">
                        <option ng-repeat="century in centuries" value="{{century.id}}" ng-selected="century.id == searchCentury.id">
                            {{century.name}}
                        </option>
                    </select>
                </div>
            </form>

            <form class="navbar-form navbar-left" role="search" ng-show='isMain'>
                <div class="form-group">
                    <span>
                        Ім'я
                    </span>
                    <input type="text" ng-model='main.searchName' class="form-control" placeholder="Введіть назву пам’ятки">
                </div>

                <div class="form-group" ng-show="isMain">
                    <span>
                        Область
                    </span>
                    <select class="form-control"
                            ng-model="main.searchRegion"
                            ng-options="region.name for region in regions track by region.id"
                            >
                    </select>
                </div>

            </form>

            <div style="padding-top: 9px;">
                <a ng-show="isMain && isAdmin" class="btn btn-sm btn-primary" href="#/monuments/monument_add">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Додати монумент
                </a>
                <a  ng-show="isMain && isAdmin" class="btn btn-link" style="right: 0px;" href="#/users"><span class="glyphicon glyphicon-user"></span>&nbsp;Користувачі</a>
                <span ng-show="isMain && firstName != null"><b>{{firstName}}&nbsp;{{lastName}}</b></span>
                  <a ng-show="isMain" class="btn btn-link" style="right: 0px;" href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Вийти</a>
            </div>

    </nav>
</div>
