
	<link rel="stylesheet" href="/styles/login.css">
	<form id="slick-login">
		<input type="text" ng-model="user.username" class="placeholder" placeholder="Логін">
		<input type="password" ng-model="user.password" class="placeholder" placeholder="Пароль">
		<input type="submit" ng-click="auth()" value="ВХІД">
		<br>
		<br>
		<div ng-show="err" class="alert alert-danger" role="alert" style="text-align: center;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
           <strong>Невдала спроба: </strong>
           <div>Невірно вказано логін <br>
           або пароль</div>
      </div>
     </div>
	</form>
