<header></header>
<div class="row">
  <div class="col-md-4" ng-repeat="monument in monuments | orderBy: name | region: main.searchRegion | filter: main.searchName">
    <div class="thumbnail">
      <a href="#/monuments/{{monument.id}}">

        <div style="text-align: center;" ng-show="!monument.photo">
          <img width="242" height="200" src="/images/no_image.png"
               alt="{{monument.name}}">
        </div>

        <div style="text-align: center;" ng-show="monument.photo">
          <img width="242" height="200" src="{{monument.photo}}"
               alt="{{monument.name}}">
        </div>

        <div class="caption" style="text-align: center;">
           <h4>{{monument.name}}</h4>
           <b>Дата будівництва:</b>
           <div ng-show="monument.date">
             <span>{{monument.date}}</span>
           </div>
           <div ng-show="monument.century.name">
             <span>{{monument.century.name}} ст.</span>
           </div>
           <div ng-show="!monument.century.name && !monument.date">
             <span>Невідома</span>
           </div>
           <br>
           <p><b>Тип споруди:</b><br>
           <div ng-if="monument.type.id === 1">
             <img src="images/types/cult.jpg" width="25px", height="25px">
           </div>
            <div ng-if="monument.type.id === 2">
              <img src="images/types/civil.jpg" width="25px", height="25px">
            </div>
            <div ng-if="monument.type.id === 3">
              <img src="images/types/industry.jpg" width="25px", height="25px">
            </div>
           </p>
           <p><b>Населений пункт:</b><br>
             {{monument.city.name}}
           </p>
         </div>
       </a>
    </div>
  </div>
</div>

{{currentRegion}}
