<header></header>

<div class="wrapper col-md-12">

    <div class="panel-body">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <!--Enter name for monument-->
            <div>
                <input type="text" ng-model="monument.name" class="form-control" placeholder="Введіть назву нової пам’ятки">
            </div>

            <h4>Оберіть тип споруди</h4>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="monument.type.id" id="type1" value="1">Культові
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="monument.type.id" id="type2" value="2">Світські
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="monument.type.id" id="type3" value="3">Виробничі
                </label>
            </div>
            <br>

            <!-- Choice date of construction monument-->
            <div>
                <h4>Оберіть дату будівництва <h5>(якщо відомо)</h5></h4>
                <input type"text" class="form-control" ng-model="monument.date">
            </div>

            <!--Choice century of construction monument-->
            <div>
                <h4>Оберіть століття будівництва</h4>
                <select class="form-control" ng-model="monument.century.id" ng-selected="8">
                    <option ng-repeat="century in centuries" value="{{century.id}}" ng-selected="century.id == monument.century.id">
                        {{century.name}}
                    </option>
                </select>
            </div>
            <br>
            <div>
            <h4>Розташування</h4>
        <b>Область: </b> 
        <select ng-model="currentRegion" ng-options="region.name for region in regions track by region.id" ng-change="setRegion(currentRegion)">
        </select><br><br>
                <b> Населений пункт</b>
                <div>
                    <angucomplete-alt id="ex1"
                        placeholder="Введіть назву населенного пункту"
                        pause="100"
                        selected-object="citySelect"
                        initial-value="monument.city"
                        local-data="cities"
                        search-fields="name"
                        title-field="name"
                        minlength="1"
                        input-class="form-control form-control-small"/>
                </div>
                <br>
                <div ng-show="monument.city.id">Район: {{monument.city.district.name}}
                </div>
            </div> <!--End col-md-3-->
        </div> <!--End panel body-->

        <div class="col-md-10 col-xs-offset-1">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <h4>Введіть опис пам`ятки</h4>
                <textarea class="form-control" row="7" ng-model="monument.descr"></textarea>
                <br><br>
                <a class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-save"></span> Зберігти</a>
                <a class="btn btn-large btn-danger" ng-click="close()"><span class="glyphicon glyphicon-remove"></span> Відміна</a>
            </div>
            <br>

            <div ng-show="error">
                <font style="color: red;">Помилка</font>
                <div ng-bind="error"></div>
            </div>
        </div>
    </div>
</div>
