<link href="/styles/table.css" rel="stylesheet" />
<link href="/styles/text-panel.css" rel="stylesheet"/>

<header></header>

<div class="wrapper col-md-12" ng-show="isAdmin">
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-xs btn-primary" href="#/monuments/{{monuments.id}}/monument_controll">
                <span class="glyphicon glyphicon-pencil"></span>
                Редагувати
            </a>
            <a class="btn btn-xs btn-primary" ng-click="delete()" href>
                <span class="glyphicon glyphicon-trash"></span>
                Видалити
            </a>
        </div>
</div>
    <div class="panel panel-default">


    <div class="panel-heading">
        <h3 class="panel-title" align="center">{{monuments.name}}</h3> 
    </div>

    <div class="panel-body">
        <div class="col-md-3">
        <div class="basecon1t">
        <table class="userstop1" width="100%">
        <tr>
        <td style="text-align: center;">
        <b>Тип споруди:</b>&nbsp;
        </td>
        <td style="text-align: center;">
            <div ng-if="monuments.type.id === 1"><img src="images/types/cult.jpg" height="30px" width="30px"></div> <div ng-if="monuments.type.id === 2"><img src="images/types/civil.jpg" height="30px" width="30px"></div>
            <div ng-if="monuments.type.id === 3"><img src="images/types/industry.jpg" height="30px" width="30px"></div>
        </td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Населений пункт:</b>&nbsp;</td>
            <td style="text-align: center;">{{monuments.city.name}}</td>
            
        </tr>
        <tr>
            <td style="text-align: center;"><b>Район:</b>&nbsp;</td>
            <td style="text-align: center;">{{monuments.city.district.name}}</td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Область:</b>&nbsp;</td>
            <td style="text-align: center;">
            <div ng-if="monuments.city.region.id == 28">
                Інформація відсутня
            </div>
            <div ng-if="monuments.city.region.id != 28">{{monuments.city.region.name}}</div>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;"><b>Створено:</b>&nbsp;</td>
            <td style="text-align: center;"><div ng-show="monuments.date">
             <span>{{monuments.date}}</span>
           </div>
           <div ng-show="monuments.century.name">
             <span>{{monuments.century.name}} ст.</span>
           </div>
           <div ng-show="!monuments.century.name && !monuments.date">
             <span>Невідомо</span>
           </div></td>
        </tr>
        </table>
         </div>
        </div>

        <!--Title photo upload-->
    <div style="text-align: center;" class="col-md-6">
    <p style="text-align: center;">
        <img src="/images/no_image.png" width="100%" height="80%" ng-show="!monuments.photo && !selected">

        <img id="title" src="{{monuments.photo}}?id=0" width="100%" height="80%" ng-show="monuments.photo && !selected">
    </p>
        <br>
   <div ng-show='!uploadingImage && isAdmin'>
        <button class="btn btn-xs btn-primary" ng-show="monuments.photo" ng-click="deleteImage()"><span class="glyphicon glyphicon-trash"></span>
         Видалити фото </button>
        <button class="btn btn-xs btn-success" ng-click="uploadingImage = !uploadingImage"><span class="glyphicon glyphicon-refresh"></span>
         Оновити фото </button>
         <br>
         <br>
   </div>

        <form name='form' ng-show='uploadingImage'>
            <div class="form-group">

             <img ngf-src="image" ngf-resize="{width: 640, height: 480, quality: 0.9}">
                <h4> Виберіть фото</h4>
                <div class="btn btn-sm btn-default" ngf-select="selected = !selected" ng-model="image" name="image"
                    ngf-validate="{size: {min: 10, max: '10MB'}, width: {min: 100, max:1280}, height: {min: 100, max: 1280}, pattern: '.jpg'}">
                     <span class="glyphicon glyphicon-open-file"></span> Обрати файл
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                {{error}}
            </div>
            <div class="btn btn-sm btn-success" ng-click="upload()"><span class="glyphicon glyphicon-save"></span> Зберігти</div>
            <div class="btn btn-sm btn-danger" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Відміна</div>
        </form>
        <br>
  </div>
        <div class="col-md-4">
        </div>

        <div class="col-md-12" style="text-align: center;">

 <!--Preview-->



            <p class="monument-description">
                <div ng-bind-html="sce.trustAsHtml(monuments.descr)"></div>
            </p>
        </div>
    </div>
</div>
