<link href="/styles/galery.css" rel="stylesheet" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>

<header></header>

<h4 style="text-align: center;">{{title}}</h4>
<div class="wrapper col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" align="center"><a href="#/monuments/{{monument.id}}">{{monument.name}}</a></h3>
        </div>

        <div class="central-panel">
            <div class="panel-body">

                <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                    <!-- The modal dialog, which will be used to wrap the lightbox content -->
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body next"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left prev">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="button" class="btn btn-primary next">
                                        Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="links">
                    <ul>
                        <li ng-repeat='photo in photos'>
                            <div class="col-md-2" >
                                <a href="{{photo.link}}" title="{{photo.descr}}" data-gallery>
                                    <p style="text-align: center;">
                                        <img src="{{photo.link}}" alt="{{photo.descr}}">
                                    </p>
                                    </a>

                                    <div ng-show="!isEditable">
                                    <p style="text-align: center;">{{photo.descr}} <button alter="редагувати" class="btn btn-xs btn-default" ng-click="isEditable = !isEditable" ng-show="isAdmin"><span class="glyphicon glyphicon-pencil"></span></button></p>
                                    </div>

                                    <div ng-show="isEditable" class="col-md-1">
                                    <p style="text-align: center;"><input type="text" ng-model="photo.descr"> <button class="btn btn-xs btn-success" ng-click="edit(photo.id, photo.descr)"><span class="glyphicon glyphicon-ok"></span></button></p>
                                    </div>

                                <div ng-hide="!deleteImage">
                                <p style="text-align: center;">
                                <input type="checkbox" name="photoid" checklist-model="deleted" checklist-value="photo.id">
                                </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div ng-show='!uploadingImage && isAdmin'>
        <button class="btn btn-large btn-primary" ng-show="!deleteImage" ng-click="deleteImage = !deleteImage"><span class="glyphicon glyphicon-trash"></span>
         Видалити зображення </button>
        <button class="btn btn-large btn-success"   ng-show="!deleteImage" ng-click="uploadingImage = !uploadingImage"><span class="glyphicon glyphicon-plus"></span>
         Додати зображення </button>
        <button class="btn btn-large btn-primary" ng-show="deleteImage && deleted.length != 0" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span> 
        Видалити обране </button>
        <button class="btn btn-large btn-danger" ng-show="deleteImage" ng-click="deleteImage = !deleteImage"><span class="glyphicon glyphicon-remove"></span> Відміна </button>
    </div>

    <div ng-show='uploadingImage' class="row">
        <form name='form' class="col-md-6 center">
            <div class="form-group">
                <h3> Виберіть фото</h3>
                <div class="btn btn-large btn-default" ngf-select ng-model="image" name="image"
                    ngf-validate="{size: {min: 10, max: '10MB'}, width: {min: 100, max:1280}, height: {min: 100, max: 1280}, pattern: '.jpg'}">
                   <span class="glyphicon glyphicon-open-file"></span> Обрати файл
                </div>
                <h4 ng-show="image">Попередній перегляд</h4>
                <img ngf-src="image" ngf-resize="{width: 300, height: 300, quality: 0.9}">
            </div>
            <div class="form-group">
                <h4>Опис</h4>
                <textarea class="form-control" rows="3" placeholder="Короткий опис цього фото" ng-model="description"></textarea>
            </div>

            <div ng-show="error" class="text-danger">
                {{error}}
            </div>

            <div class="btn btn-large btn-success" ng-click="upload()"><span class="glyphicon glyphicon-save"></span> Зберігти</div>
            <div class="btn btn-large btn-danger" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> Відміна</div>
        </form>
    </div>
</div>
