<header></header>

<div class="wrapper col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center"><a href="#/monuments/{{monument.id}}">{{monument.name}}</a></h3>
        </div>
        <div class="central-panel">
          <div class="panel-body">
          <div class="col-md-4"></div>
          	<div class="col-md-4">
            <h4>Вкажіть ім`я автора реконструкції</h4>
        		<input type="text" ng-model="reconstruction.author" class="form-control" placeholder="Вкажіть ім`я автора реконструкції">
        		<br>

            <h4>Вкажіть роки проведення реконструкції</h4>
            <input type="text" ng-model="reconstruction.year" class="form-control">
					 <h4>Вкажіть століття</h4>
					 <select class="form-control" ng-model="reconstruction.century.id" ng-selected="8">
             <option ng-repeat="century in centuries" value={{century.id}} ng-selected="century.id == reconstruction.century.id">
             {{century.name}}
             </option>
           </select>


            <h4>Вкажіть опис проведених робіт</h4>
            <textarea ng-model="reconstruction.descr" class="form-control"></textarea>
            <br>
           <a class="btn btn-success" ng-click="update()" href><span class="glyphicon glyphicon-save"></span> Зберігти</a>
           <span class="btn btn-danger btn-large" ng-click='cancel()'><span class="glyphicon glyphicon-remove"></span> Відмінна
           </span>
    		</div>

    		</div>

       </div>

     </div>

   </div>
 </div>
