<header></header>

<div class="wrapper col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center"><a href="#/monuments/{{monument.id}}">{{monument.name}}</a></h3>
        </div>
        <div class="central-panel">
          <div class="panel-body">
          <div class="col-md-4"></div>
          	<div class="col-md-4">
            <h4>Вкажіть автора досліджень</h4>
        		<input type="text" ng-model="reshistory.author" class="form-control" placeholder="Вкажіть ім`я автора досліджень">
        		<br>

					 <h4>Вкажіть рік проведення дослідження</h4>
					 <input class="form-control" ng-model="reshistory.years" type="text"/>
           		<br>


            <h4>Опис проведенних робіт</h4>
            <div>
            <textarea ng-model="reshistory.descr" class="form-control"></textarea>
            </div>
            <br>
            <div>
           <a class="btn btn-success" ng-click="update()" href><span class="glyphicon glyphicon-save"></span> Зберігти</a>
           <span class="btn btn-danger btn-large" ng-click='cancel()'><span class="glyphicon glyphicon-remove"></span> Відмінна
           </span>
           </div>
    		</div>

    		</div>

       </div>

     </div>

   </div>
 </div>
