<header></header>

<div class="row">
    <div class="col-md-3">

        <form>
            <div class="form-group">
                <label>Ім'я пам'ятки</label>
                <input ng-model='searchName' type="text" class="form-control" placeholder="Назва пам'ятки">
            </div>

            <div class="form-group">
                <label for="type">Тип пам'ятки</label>
                <select class="form-control" ng-model="searchType" ng-selected=''>
                    <option value="">
                        Усі
                    </option>
                    <option value="1">
                        Культові
                    </option>
                    <option value="2">
                        Світські
                    </option>
                    <option value="3">
                        Виробничі
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="city">Місто</label>
                <input ng-model='searchCity' type="text" class="form-control" id="city" placeholder="Назва міста">
            </div>

            <div class="form-group">
                <label >Область</label>
                <select class="form-control"
                        ng-model="searchRegion"
                        ng-options="region.name for region in regions track by region.id">
                </select>
            </div>

            <div class="form-group">
                <label for="century">Століття</label>
                <select class="form-control" ng-model="searchCentury" ng-selected="8">
                    <option ng-repeat="century in centuries" value="{{century.id}}" ng-selected="century.id == searchCentury.id">
                        {{century.name}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label>Дата</label>
                <input ng-model='searchDate' type="text" class="form-control" placeholder="Дата будівництва">
            </div>

        </form>

    </div>
    <div class="col-md-9">
        <div class="col-md-4" ng-repeat="monument in monuments | orderBy: name | filter: searchName | filter: {type: {id: searchType}} |filter: {city: { name: searchCity } } | filter: { century: {$: searchCentury} } | region: searchRegion | filter: { date: searchDate }" >
          <div class="thumbnail">
            <a href="#/monuments/{{monument.id}}">

              <div style="text-align: center;" ng-show="!monument.photo">
                <img width="242" height="200" src="/images/no_image.png"
                     alt="{{monument.name}}">
              </div>

              <div style="text-align: center;" ng-show="monument.photo">
                <img width="242" height="200" src="{{monument.photo}}"
                     alt="{{monument.name}}">
              </div>

              <div class="caption" style="text-align: center;">
                 <h4>{{monument.name}}</h4>
                 <b>Дата будівництва:</b>
                 <div ng-show="monument.date">
                   <span>{{monument.date}}</span>
                 </div>
                 <div ng-show="monument.century.name">
                   <span>{{monument.century.name}} ст.</span>
                 </div>
                 <div ng-show="!monument.century.name && !monument.date">
                   <span>Невідома</span>
                 </div>
                 <br>
                 <p><b>Тип споруди:</b><br>
                 <div ng-if="monument.type.id === 1">
                   <img src="images/types/cult.jpg" width="25px", height="25px">
                 </div>
                  <div ng-if="monument.type.id === 2">
                    <img src="images/types/civil.jpg" width="25px", height="25px">
                  </div>
                  <div ng-if="monument.type.id === 3">
                    <img src="images/types/industry.jpg" width="25px", height="25px">
                  </div>
                 </p>
                 <p><b>Населений пункт:</b><br>
                   {{monument.city.name}}
                 </p>
               </div>
             </a>
          </div>
        </div>
    </div>
</div>
