<link href="/styles/table.css" rel="stylesheet" />
<link href="/styles/text-panel.css" rel="stylesheet"/>

<header></header>

<div class="container">
<div class="wrapper col-md-12">
    <div class="btn-group" role="group" aria-label="...">
      <a class="btn btn-xs btn-primary"
              href="#/users_add" ng-hide="isDeleted || isUpdated">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Додати
      </a>
      <a class="btn btn-xs btn-primary"
              href ng-click="isUpdated = !isUpdated" ng-hide="isDeleted || isUpdated">
        <span class="glyphicon glyphicon-pencil"></span>
        Редагувати
      </a>
      <a class="btn btn-xs btn-primary"
              href="#/users_update/{{updated}}" ng-show="isUpdated && updated">
        <span class="glyphicon glyphicon-pencil"></span>
        Редагувати Обране
      </a>
      <button class="btn btn-xs btn-primary"
              href="" ng-click="isUpdated = !isUpdated"ng-show="isUpdated">
        <span class="glyphicon glyphicon-remove"></span>
        Відміна
      </button>
      <a class="btn btn-xs btn-primary"
              href ng-click="isDeleted = !isDeleted" ng-hide="isUpdated || isDeleted">
        <span class="glyphicon glyphicon-trash"></span>
        Видалити
      </a>
            <a class="btn btn-xs btn-primary"
              href ng-click="delete()" ng-show="isDeleted && deleted.length !=0">
        <span class="glyphicon glyphicon-trash"></span>
        Видалити Обране
      </a>
        <button class="btn btn-xs btn-primary"
              href="" ng-click="isDeleted = !isDeleted"ng-show="isDeleted">
        <span class="glyphicon glyphicon-remove"></span>
        Відміна
      </button>
    </div>
</div>
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title" align="center">
        Керування системними користувачами
      </h3>
    </div>
    <div align="center">

  <div class="basecon1t">
   <h1 class="heading1">Користувачі</h1>

  <table class="userstop1" width="100%">
   <thead>
    <tr>
      <td ng-show="isUpdated && !isDeleted"></td>
      <td ng-show="isDeleted && !isUpdated"></td>
      <td>Ім`я</td>
      <td>Прізвище</td>
      <td>Логін</td>
      <td>Роль</td>
      <td>Активний</td>
    </tr>
    </thead>
     <tbody>
      <tr ng-repeat="user in users">
        <td ng-show="isUpdated && !isDeleted"><input type="radio" name="userid"  ng-model="$parent.updated" ng-value="user.id"></td>
       <td ng-show="isDeleted && !isUpdated"><input type="checkbox" name="userid" checklist-model="deleted" checklist-value="user.id"></td>
       <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.username}}</td>
        <td>{{user.role.name}}</td>
        <td>{{user.enable}}</td>
      </tr>
	 </tbody>
  </table>
</div>

    </div>
  </div>
</div>
