<header></header>

<div class="wrapper col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Керування користувачами</h3>
        </div>
        <div class="central-panel">
          <div class="panel-body">
          <div class="col-md-4"></div>
          	<div class="col-md-4">
            <h4>Логін (латиниця, не більше 50 зн.)</h4>
        		<input type="text" ng-model="user.username" class="form-control" placeholder="Вкажіть логін">
        		<br>
            <h4>Пароль</h4>
            <input type="password" ng-model="user.password" class="form-control" placeholder="Вкажіть пароль">
            <br>

            <h4>Ім`я користувача</h4>
            <input type="text" ng-model="user.firstname" class="form-control" placeholder="Вкажіть ім`я">
            <br>

            <h4>Прізвище користувача</h4>
            <input type="text" ng-model="user.lastname" class="form-control" placeholder="Вкажіть прізвище">
            <br>

            <div>
            <h4>Системна роль</h4>
            <select ng-model="user.role" ng-options="role.name for role in roles track by role.id" ng-change="setRole(user.role)">
            </select>
            </div><br>
            <br>

            <h4>Активований</h4>
            <input type="checkbox" ng-model="user.enable">
            <br>

            <div>
           <a class="btn btn-success" ng-click="save()" href><span class="glyphicon glyphicon-save"></span> Зберігти</a>
           <span class="btn btn-danger btn-large" ng-click='cancel()'><span class="glyphicon glyphicon-remove"></span> Відмінна
           </span>
           </div>
    		</div>

    		</div>

       </div>

     </div>

   </div>
 </div>
