.userstop1 td {
  font-size: 1em;
  border: 1px solid #dce7e7;
  padding: 2px; background-color: #fff; 
  text-align: left;
  } 

  .userstop1 thead td {
   background-color: #f9fafa;
   height: 22px; padding: 0;
   font-weight: bold;
   text-align: center;
   color: #81ac15; 
   margin: auto; 
 }

    .basecont1{
     margin: 0 21px 2.7em 22px;
    } 

    .heading1 { 
      font-weight: normal;
     font-size: 1.6em;
     color: #296999;
     margin-bottom: 0.5em;
   }

   .descr {
    text-align: left;
   }